.container{
    background: var(--red);
    width: 100%;
    transition: .4 linear;
    padding-top: 0;
    display: flex;
    margin-bottom: 40px;
}

.ul{
    display: flex;
    margin: 0 auto;
}

.li{
    list-style: none;
    border-right: 1px solid var(--cream);
    color: #fff;
    padding: 6px 10px;
}

.li:first-child{
    padding: 6px 8px;
}

.li:last-child{
    border-right: none;
}

.li button{
    cursor: pointer;
    background: none;
    border: none;
    font-size: 1.1em;
    color: var(--cream);
}

.li:hover:first-child{
    background: var(--red);
    color: var(--cream);
}

.li:hover{
    background: var(--light-blue);
    color: var(--red)
}

.activeBtn{
    background: var(--light-blue);
}